/*--------------------------------------------------------------
# Ganti Background Login
--------------------------------------------------------------*/
body#custom-background-login {
  background-image: url("../img/bgLogin.jpg");
  background-size: cover;
  background-position: center;
}

/*--------------------------------------------------------------
# Alert yang mengapung di sebelah kanan selama 10 detik
--------------------------------------------------------------*/
.floating-alert {
  position: fixed;
  top: 20px;
  right: 20px;
  width: auto;
  max-width: 500px;
  z-index: 1050;
  overflow: hidden;
}

.floating-alert hr {
  position: absolute;
  bottom: -16px;
  left: 0;
  width: 100%;
  height: 3px;
  background-color: rgba(0, 0, 0, 0.1);
  border: none;
  border-top: 3px solid rgba(231, 24, 24, 0.9);
  animation: moveLine 10.5s linear infinite;
}

@keyframes moveLine {
  0% {
    transform: translateX(-100%);
  }

  100% {
    transform: translateX(100%);
  }
}

@media (max-width: 767px) {
  .floating-alert {
    left: 50%;
    transform: translateX(-50%);
    right: auto;
    width: 90%;
    max-width: none;
  }
}

/*--------------------------------------------------------------
# Menghapus Akun Sendiri / Pengguna Tertentu
--------------------------------------------------------------*/
.disabled-button {
  opacity: 0.65;
}

/*--------------------------------------------------------------
# DataTables
--------------------------------------------------------------*/
.dt-left {
  text-align: left !important;
}

/*--------------------------------------------------------------
# Form Diagnosis
--------------------------------------------------------------*/
.form-check {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 800px;
  margin-bottom: 10px;
}

.form-check-label {
  flex-grow: 1;
  margin-left: 10px;
}

.btn-info {
  margin-left: 10px;
}